<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <title>LMS | Land Management</title>
</head>
<body>
<div class="wrapper" layout:fragment="content">
    <div class="content-wrapper">
        <!--==================== Replace Content Here =========================-->
        <section class="content-header">
            <h1> Land Management </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> Home
                    </a>
                </li>
                <li class="breadcrumb-item active">User</li>
            </ol>
        </section>
        <section class="content">
            <div class="container-fluid">
                <!--                <h1>Create Project </h1>-->
            </div>

            <div class="card card-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Plot_No</label>
                                <input type="text" class="form-control my-colorpicker1" placeholder="Enter">
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Project Name</label>
                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Land Type</label>
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Size</label>
                                <div class="input-group my-colorpicker2">
                                    <input type="text" class="form-control" placeholder="Enter">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-square"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Width</label>
                                <div class="input-group my-colorpicker2">
                                    <input type="text" class="form-control" placeholder="Enter">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-square"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Length</label>
                                <div class="input-group my-colorpicker2">
                                    <input type="text" class="form-control" placeholder="Enter">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-square"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Location</label>
                                <div class="input-group my-colorpicker2">
                                    <input type="text" class="form-control" placeholder="Enter">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Land Title Type</label>
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Price</label>
                                <div class="input-group my-colorpicker2">
                                    <input type="number" class="form-control" placeholder="Enter">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-money-check-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>


                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Create New Project</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--===================================================================-->
    </div>
</div>
</body>
</html>