<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <div class="input-group">
                                <input name="name" type="text" class="form-control" placeholder="Enter Name">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Birth Date</label>
                            <div class="input-group">
                                <input name="dob" type="date" class="form-control" placeholder="dd/MM/yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address</label>
                            <div class="input-group">
                                <input name="address" type="text" class="form-control" placeholder="Enter Address">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>ID Card</label>
                            <div class="input-group">
                                <input name="id-card" type="text" class="form-control" placeholder="Enter ID Card">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>ID Card Number</label>
                            <div class="input-group">
                                <input name="id-card-number" type="text" class="form-control" placeholder="Enter ID Card Number">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>ID Card Issue Date</label>
                            <div class="input-group">
                                <input name="name" type="date" class="form-control" placeholder="dd/MM/yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Gender</label>
                            <div class="input-group">
                                <select id="cus-gender" name="cus-gender" class="form-control select2" style="width: 100%;">
                                    <option value="F" selected>Female</option>
                                    <option value="M">Male</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nationality</label>
                            <div class="input-group">
                                <input name="national" type="text" class="form-control" placeholder="Enter Nationality">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-flag"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone 1</label>
                            <div class="input-group">
                                <input name="phone1" type="text" class="form-control" placeholder="Enter Phone 1">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-phone-square-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone 2</label>
                            <div class="input-group">
                                <input name="phone1" type="text" class="form-control" placeholder="[ Optional ] Enter Phone 2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-phone-square-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Relationship</label>
                            <div class="input-group">
                                <select id="cus-relationship" name="cus-relationship" class="form-control select2" style="width: 100%;">
                                    <option value="Single" selected>Single</option>
                                    <option value="Married">Married</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-hands"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>