<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <title>LMS | Penalties Management</title>
</head>
<body>
<div class="wrapper" layout:fragment="content">
    <div class="content-wrapper">
        <section class="content-header">
            <h1> Penalties Management </h1>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Penalty</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Customer</label>
                                    <select class="form-control select2" style="width: 100%;" required>
                                        <option selected="selected" disabled>Select customer...</option>
                                        <option>Long Chong</option>
                                        <option>Jing Jok</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Land</label>
                                    <select class="form-control select2" style="width: 100%;" required>
                                        <option selected="selected">Please select a land...</option>
                                        <option>TK001</option>
                                        <option>TK003</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>No Delay</label>
                                    <div class="input-group my-colorpicker2">
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Penalty Amount</label>
                                    <div class="input-group my-colorpicker2">
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>